<div class="header-wrapper">
    <div class="app-title">Bootfinds</div>
    <div class="buttons">
      <form action="/logout?_method=DELETE" method="POST">
        <button class="logout-btn" type="submit">Log Out</button>
      </form>
    </div>
</div>