<nav class="nav-wrapper">
    <div class="search">
        <h3>Search</h3>
        <input type="text" placeholder="I'm looking for..."/>
    </div>
    <div class="location">
        <h3>Location</h3>
        <input type="text" placeholder="Australia..."/>
    </div>
    <div class="categories">
        <h3>Categories</h3>
        <div><a href="#">Art, Collectibiles</a></div>
        <div><a href="#">Baby, Kids</a></div>
        <div><a href="#">Books, Music and Games</a></div>
        <div><a href="#">Cars, Vehicles</a></div>
        <div><a href="#">Clothing</a></div>
        <div><a href="#">Electronics</a></div>
        <div><a href="#">Furnitures</a></div>
        <div><a href="#">Sport gear</a></div>
    </div>
</nav>